# Normal stuff
*.o
*.a
*.so
*.lo
*.la
*.pc
.deps/
.libs/
.kdev4/
build/

# kdevelop
*.kdevelop.pcs
*.kdevses

# Doxygen documentation
Doxyfile
Doxyfile.xml
doc/Doxyfile
doc/html
doc/man
doc/xml

# examples
examples/baud_test
examples/bitbang
examples/bitbang2
examples/bitbang_cbus
examples/bitbang_ft2232
examples/find_all
examples/find_all_pp
examples/serial_test
examples/simple

# Backup files and stuff from patches
*.orig
*.rej
*~
.*.swp

# libftdi specific
libftdi1-config
libftdi1.spec

# CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Misc. binaries
*.dylib
opt
